@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Work My Territory!</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">This is my first Test Site!</a>.</p>
</div>
